@model BlogdetailViewModel
@{
    ViewData["Blogdetail"] = "Blogdetail";
}

<h2>@Model.eintrag.Titel</h2>
<p>@Model.eintrag.CreatedDate</p>
<p>@Model.eintrag.Text</p>
<hr />
<p style="color: rgba(138, 23, 23, 1); font-size:medium; font-weight:bold">Kommentar hinzufügen:</p>
<form method="get" action="@Url.Action("AddComment", "Blog")">
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m=>m.eintrag.ID)
    <div class="form-group">
        @Html.LabelFor(m => m.addedkommentar.Name)
        @Html.TextBoxFor(m => m.addedkommentar.Name, new { @class = "form-control", placeholder = Html.DisplayNameFor(m => m.addedkommentar.Name) })
        @Html.ValidationMessageFor(m => m.addedkommentar.Name, null, new { @class = "text-danger" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.addedkommentar.Email)
        @Html.TextBoxFor(m => m.addedkommentar.Email, new { @class = "form-control", placeholder = Html.DisplayNameFor(m => m.addedkommentar.Email) })
        @Html.ValidationMessageFor(m => m.addedkommentar.Email, null, new { @class = "text-danger" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.addedkommentar.Text)
        @Html.TextBoxFor(m => m.addedkommentar.Text, new { @class = "form-control", placeholder = Html.DisplayNameFor(m => m.addedkommentar.Text) })
        @Html.ValidationMessageFor(m => m.addedkommentar.Text, null, new { @class = "text-danger" })
    </div>
    <button type="submit" class="btn btn-default">Senden</button>
</form>
@if(Model.eintrag.Kommentare != null && Model.eintrag.Kommentare.Any())
{
    foreach (var kommentar in Model.eintrag.Kommentare)
    {
        <hr />
        <div>
            <p>@kommentar.CreatedDate</p>
            <p>@kommentar.Name</p>
            <p>@kommentar.Email</p>
            <p>@kommentar.Text</p>
        </div>

    }
}


